<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de gestión de recetas médicas</title>
    <link href="../static/css/css_recetas.css" rel="stylesheet" type="text/css" />
  </head>
  <body class="body">
    <h1>Preescribir un medicamento:</h1>
    <form class="datos">
      <label for="nombre-medicamento">Nombre del medicamento:</label>
      <input  class="input" type="text" id="nombre-medicamento" name="nombre-medicamento" placeholder="Escribir el nombre del medicamento" ><br>

      <label for="dosis">Dosis:</label>
      <input class="input" type="text" id="dosis" name="dosis" placeholder="Escribir la dosis del medicamento"><br>

      <label for="frecuencia">Frecuencia:</label>
      <input class="input" type="text" id="frecuencia" name="frecuencia" placeholder="Escribir la frecuencia de uso"><br>

      <label for="instrucciones">Instrucciones de uso:</label>
      <textarea class="instrucciones" id="instrucciones" name="instrucciones" placeholder="Escribir las instrucciones de uso"></textarea><br>

      <input class="boton" type="submit" value="Preescribir">
    </form>
  </body>
</html>
