<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head>
        <link href="../static/css/css_login.css" rel="stylesheet" type="text/css" />
        </head>
      <div class="body"></div>
      <div class="grad"></div>
      <div class="header">
          <div>Med<span>Con</span></div>
      </div>
      <br>
      <div class="login1">
        <button class="button">Medico</button>
      </div>
      <div class="login2">
        <button class="button">Paciente</button>
      </div>
      <div class="login3">
        <button class="button">Sala</button>
      </div>
     
</html>
