<head>
  <meta charset="UTF-8"/>
	<title th:text="INICIO"></title>
  <link th:href="@{/css/css_login.css}" rel="stylesheet"/>
</head>
<body>
  <div class="body"></div>
  <div class="grad"></div>
  <div class="header">
    <div>Med<span>Con</span></div>
  </div>
  <br>
  <div class="login3">
    <a th:href="@{medicos}" th:text="Medico" class="button"></a>
  </div>
  <div class="login2">
    <a th:href="@{sala/1}" th:text="Sala1" class="button"></a>
    <a th:href="@{sala/2}" th:text="Sala2" class="button"></a>
  </div>
  <div class="login1">
    <a th:href="@{pacientes}" th:text="Paciente" class="button"></a>
  </div>
</body>
</html>
