<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/base::head(dark)">
	<meta charset="UTF-8"/>
</head>
<body>
	<header th:replace="layouts/base::header(dark)"></header>

	<div class="container">
		<div class="card bg-dark">
			<div class="card-header">
				<h3 th:text="#{citas.consulta.medico}"></h3>
			</div>
			<div class="card-body">
				<table class="table table-striped">
					<thead>
						<tr>
							<th th:text="#{citas.CITA.id}"></th>
							<th th:text="#{citas.CITA.fecha}"></th>
							<th th:text="#{citas.CITA.hora}"></th>
							<th th:text="#{citas.CITA.paciente}"></th>
							<span sec:authorize="isAuthenticated()">
								<th th:text="#{consulta.CONSULTA.status}"></th>		
								<th th:text="#{consulta.CONSULTA.duracion}"></th>
							</span>
							<th>-</th>
							<th>-</th>
							<th>-</th>
							<th>-</th>			
						</tr>
					</thead>
					<tbody>
						<tr th:each="CITA: ${citas}">
							<td th:text="${CITA.fecha}"></td>
							<td th:text="${CITA.hora}"></td>
							<td th:text="${CITA.paciente}"></td>
							<td th:text="${CITA.medico}"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	
	<footer th:replace="layouts/base::footer(dark)"></footer>
</body>
</html>
