<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title th:text="CONSULTAS"></title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
		integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/estilos.css}">
	<link rel="stylesheet" th:href="@{/css/tema_light}">
	<script>
		var fechaInicio;
		var intervalo;
		var elapsedTime
		// Verifica si hay una marca de tiempo almacenada
		if (!localStorage.getItem('firstVisit')) {
			localStorage.setItem('firstVisit', Date.now());
		}
		// Obtener la marca de tiempo de la primera visita del médico
		const firstVisit = localStorage.getItem('firstVisit');

		function updateTimer() {
			const now = Date.now();
			const elapsed = now - firstVisit;
			const hours = Math.floor(elapsed / 3600000);
			const minutes = Math.floor((elapsed % 3600000) / 60000);
			const seconds = Math.floor((elapsed % 60000) / 1000);
			document.getElementById('timer').innerHTML = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
		}
		// Actualiza el contador de tiempo cada segundo
		setInterval(updateTimer, 1000);
	</script>
</head>
<body>
	<header>
		<div class="logo">
			<img th:src="@{/img/logo.png}" alt="Logo">
		</div>
		<div class="logout">
			<a th:href="@{/medicos}" style="color: #adc9d3;" class="btn btn-link"
				onmousedown="borrarLocalStorage()">Logout</a>
			<script>
				function borrarLocalStorage() { localStorage.clear(); }
			</script>
		</div>
		
	</header>
	
	<div class="container">
		<div class="card bg-light">
			<div class="card-body">
				
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="border: 1px solid black;">Paciente</th>
							<th style="border: 1px solid black;">Hora de la cita</th>
							<th style="border: 1px solid black;">Estado</th>
							<th><p class="timer">Tiempo global de consulta: <span id="timer">00:00:00</span></p>
								<style>
									.timer {
										
										top: 5%;
										right: 230px;
										transform: translateY(-50%);
										margin:0 0 25px;
										overflow:hidden;
										padding:7px;
										background-color:#6BD5F1;
										border:1px solid #afcde3;
										-webkit-border-radius: 5px;
										border-radius: 5px;	
										border: 1px solid black;
									}
								</style></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="Consulta: ${consultas}">
							<td>
								<span th:text="${Consulta.paciente.nombre}"></span><span>&nbsp</span><span
									th:text="${Consulta.paciente.apellidos}"></span>
							</td>
							<td th:text="${Consulta.cita.hora}">10:00</td>
							<th:block th:if="${Consulta.status == 0}">
								<td>ESPERANDO</td>
							</th:block>
							<th:block th:if="${Consulta.status == 1}">
								<td>EN CURSO</td>
							</th:block>
							<th:block th:if="${Consulta.status == 2}">
								<td>FINALIZADA</td>
							</th:block>
							<td>
								<div>
									<a th:href="@{/historial}" target="_blank" rel="noopener"
										class="btn btn-outline-secondary btn-sm">Historial</a>
									</br></br>
									<a th:href="@{/recetas}" target="_new"
										class="btn btn-outline-secondary btn-sm">Recetas</a>
									</br></br>
									<a th:href="@{/pruebas}" target="_new"
										class="btn btn-outline-secondary btn-sm">Solicitar prueba</a>
									</br></br>
									<a th:href="@{/citas}" target="_new" class="btn btn-outline-secondary btn-sm">Nueva
										cita</a>
									</br></br>
								</div>
							</td>
							<td>
								<a th:href="@{/llamar/} + ${Consulta.id}" class="btn btn-success"
									style="font-weight:bold; border: 1px solid black;">LLAMAR</a>
							</td>
							<td>
								<a th:href="@{/finalizar/} + ${Consulta.id}" class="btn btn-primary"
									style="font-weight:bold; border: 1px solid black;">FINALIZAR</a>
							</td>
							<th:block th:if="${Consulta.status == 1}">
								<td id="contadorInicio">00:00:00</td>
								<script>
									function iniciarContador() {
										// Guarda la fecha de inicio
										fechaInicio = new Date();
										// Cada segundo, actualiza el contador
										intervalo = setInterval(updateTimer, 1000);
									}
									// Función para actualizar el contador de tiempo en la vista
									function updateTimer() {
										const now = Date.now();
										elapsedTime = now - fechaInicio;
										// Convierte la cantidad de tiempo transcurrido en formato horas:minutos:segundos
										const hours = Math.floor(elapsedTime / 3600000);
										const minutes = Math.floor((elapsedTime % 3600000) / 60000);
										const seconds = Math.floor((elapsedTime % 60000) / 1000);
										// Actualiza el contador de tiempo en la vista
										document.getElementById('contadorInicio').innerHTML = `${hours.toString().padStart(2, '0')}:${minutes.toString().padStart(2, '0')}:${seconds.toString().padStart(2, '0')}`;
									}
									iniciarContador()
								</script>
							</th:block>
							<th:block th:if="${Consulta.status == 2}">
								<td th:id="contadorFinal">00:00:00</td>
								<script>
									function detenerContador() {
										// Detiene el intervalo del contado
										clearInterval(intervalo);
									}
									detenerContador()
								</script>
							</th:block>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>

</html>
