<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
  <meta charset="UTF-8"/>
	<title th:text="MEDICOS"></title>
  <link th:href="@{/css/css_login.css}" rel="stylesheet"/>
</head>

<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Med<span>Con</span></div>
    </div>
    <br>
    <div class="login">
        <form th:action="@{/medicos/lista}" th:object="${medico}" method="post">
            <label> Nº de Colegiado : <input type="text" placeholder="Nº de Colegiado" th:field="*{ncolegiado}" /></label><br>
            <label> Contraseña : <input type="text" placeholder="Contraseña" th:field="*{password}" /></label><br>
            <input type="submit" class="button" value="Entrar"/>
        </form>
    </div>
</body>
</html>
