<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
  <meta charset="UTF-8"/>
	<title th:text="MEDCON-web"></title>
  <link th:href="@{/css/css_login.css}" rel="stylesheet"/>
</head>

<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Med<span>Con</span></div>
    </div>
    <br>
    <div th:if="${param.error}">
        Invalid username.
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
    </div>
    <div class="login">
        <form th:action="@{/pacientes/registrar}" method="post">
            <label> CIPA : <input type="text" placeholder="CIPA"/></label><br>
            <input type="submit" value="Registrar"/></div>
        </form>
    </div>
</body>
</html>