<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  
<head>
  <meta charset="UTF-8"/>
	<title th:text="MEDCON-web"></title>
  <link th:href="@{/css/css_login.css}" rel="stylesheet"/>
</head>

<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Med<span>Con</span></div>
    </div>
    <br>
    <div class="login">
        <form th:action="@{/pacientes/registrar}" th:object="${paciente}" method="post">
            <input type="text" placeholder="CIPA" th:field="*{cipa}" /><br>
            <input type="submit"  class='button' value="Registrar Presencia"/>
        </form>
    </div>
</body>
</html>
