<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title th:text="TICKET"></title>
  <link th:href="@{/css/ticket.css}" href="../static/css/ticket.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="contenido">
    <div class="ticket">
      <div class="hqr">
        <div class="column left-one"></div>
        <div class="column center">
          <div id="qr-container"></div>
        </div>
        <div class="column right-one"></div>
      </div>
    </div>
    <div class="details">
      <div class="tinfo">
        Paciente
      </div>
      <div class="tdata name">
        <span th:text="${paciente.nombre}"></span><span>&nbsp</span><span th:text="${paciente.apellidos}"></span>
      </div>
      <div class="tinfo">
        Ticket
      </div>     
      <div class="tinfo">
        Aquí tiene su identificador de espera
      </div>
      <div class="tdata">
        <h3 th:text="${paciente.idEspera}">JP-1234</h3>
      </div>  
      <div class="masinfo">
        <div class="left">
          <div class="tinfo">
            Hora
          </div>
          <div class="tdata nesp">
            <script src="../static/js/myscript.js" th:src="@{/js/myscript.js}"></script>
          </div>  
        </div>
        <div class="right">
          <div class="tinfo">
            Sala de espera
          </div>
          <div class="tdata nesp">
            Diríjase a la sala de espera:
          </div> 
          <h5 th:text="${salaEspera}"></h5> 
        </div>
      </div>
      <div class="logout">
        <a th:href="@{/pacientes}" style="color: #d83333;" class="btn btn-outline-danger">Salir</a>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/qrcode-generator/qrcode.js"></script>
  <script th:inline="javascript">
    window.onload = function() {
      var qr = qrcode(0, 'H');
      qr.addData(/*[[${paciente.idEspera}]]*/);
      qr.make();
      var qrImage = qr.createImgTag(3);
      document.getElementById("qr-container").innerHTML = qrImage;
    };
</script>
</body>
</html>
