<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8"/>
    <title th:text="TICKET"></title>
    <link th:href="@{/css/ticket.css}" href="../static/css/ticket.css" rel="stylesheet" type="text/css" />
</head>
<body>
   <div class="contenido">
  <div class="ticket">
    </div>
    <div class="details">
      <div class="tinfo">
        Paciente
      </div>
      <div class="tdata name">
        <span th:text="${paciente.nombre}"></span><span>&nbsp</span><span th:text="${paciente.apellidos}"></span>
      </div>
      <div class="tinfo">
        Ticket
      </div>     
      <div class="tinfo">
        Aquí tiene su identificador de espera
      </div>
      <div class="tdata">
        <h3 th:text="${paciente.idEspera}">JP-1234</h3>
      </div>  
      <div class="masinfo">
        <div class="left">
         <div class="tinfo">
        Hora
      </div>
      <div class="tdata nesp">
        <script src="../static/js/myscript.js" th:src="@{/js/myscript.js}"></script>
      </div>  
        </div>
        <div class="right">
        <div class="tinfo">
        Sala de espera
      </div>
      <div class="tdata nesp">
        Diríjase a la sala de espera nº 1
      </div> 
        </div>
      </div>
      <div class="logout">
        <a th:href="@{/pacientes}" style="color: #d83333;" class="btn btn-outline-danger">Salir</a>
      </div>
    </div>
  </div>
</div> 
</body>
</html>


