
.container {
	margin-top: 20px;
}


header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	background-color: #212324;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .logo img {
	height: 60px;
	width: 140px;
  }
  
  .logout a {
	font-size: 17px;
	border: 1.5px solid #adc9d3;
	padding: 5px 10px;
	border-radius: 5px;
  }
  
  .logout a:hover {
	background-color: #939595;
	color: #fff;
  }
  
